/****** Object:  Table [dbo].[CATEGORIA_PRODUCTO]    Script Date: 30/12/2020 02:08:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIA_PRODUCTO](
	[ID_CATEGORIA] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](20) NOT NULL,
	[DESCRIPCION] [varchar](40) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CATEGORIA] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETALLE_CATEGORIA_PRODUCTO]    Script Date: 30/12/2020 02:08:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETALLE_CATEGORIA_PRODUCTO](
	[ID_DETALLE_CATEGORIA] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](60) NOT NULL,
	[DESCRIPCION] [varchar](70) NOT NULL,
	[ID_CATEGORIA] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_DETALLE_CATEGORIA] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETALLE_PEDIDO]    Script Date: 30/12/2020 02:08:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETALLE_PEDIDO](
	[ID_DETALLE_PEDIDO] [int] IDENTITY(1,1) NOT NULL,
	[CANTIDAD] [varchar](20) NOT NULL,
	[SUBTOTAL] [decimal](18, 0) NOT NULL,
	[ID_PEDIDO] [int] NOT NULL,
	[ID_PRODUCTO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_DETALLE_PEDIDO] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PEDIDO]    Script Date: 30/12/2020 02:08:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PEDIDO](
	[ID_PEDIDO] [int] IDENTITY(1,1) NOT NULL,
	[NUMERO_PEDIDO] [varchar](20) NOT NULL,
	[FECHA] [datetime] NULL,
	[TOTAL] [decimal](18, 0) NOT NULL,
	[ID_USUARIO] [int] NOT NULL,
	[ID_TIENDA] [int] NULL,
	[ESTADO] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PEDIDO] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTO]    Script Date: 30/12/2020 02:08:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTO](
	[ID_PRODUCTO] [int] IDENTITY(1,1) NOT NULL,
	[CODIGO] [varchar](10) NOT NULL,
	[DESCRIPCION] [varchar](40) NOT NULL,
	[MARCA] [varchar](15) NOT NULL,
	[STOCK] [int] NOT NULL,
	[PRECIO] [decimal](18, 0) NOT NULL,
	[IMAGEN] [varchar](max) NULL,
	[ID_CATEGORIA] [int] NOT NULL,
	[ID_TIENDA] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PRODUCTO] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sysdiagrams]    Script Date: 30/12/2020 02:08:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sysdiagrams](
	[name] [sysname] NOT NULL,
	[principal_id] [int] NOT NULL,
	[diagram_id] [int] IDENTITY(1,1) NOT NULL,
	[version] [int] NULL,
	[definition] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[diagram_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIENDA]    Script Date: 30/12/2020 02:08:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIENDA](
	[ID_TIENDA] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[DESCRIPCION] [varchar](200) NULL,
	[DIRECCION] [varchar](100) NOT NULL,
	[CIUDAD] [varchar](20) NOT NULL,
	[PAIS] [varchar](20) NOT NULL,
	[TELEFONO] [varchar](9) NOT NULL,
	[FECHA_CREACION] [datetime] NULL,
	[BANNER] [image] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPO_USUARIO]    Script Date: 30/12/2020 02:08:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_USUARIO](
	[IDTIPOUSUARIO] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDTIPOUSUARIO] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 30/12/2020 02:08:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[ID_USUARIO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](60) NOT NULL,
	[APELLIDO] [varchar](60) NOT NULL,
	[FECHA_CREACION] [datetime] NULL,
	[TELEFONO] [varchar](15) NULL,
	[PAIS] [varchar](20) NULL,
	[CIUDAD] [varchar](20) NULL,
	[DIRECCION] [varchar](40) NULL,
	[IMAGEN] [image] NULL,
	[EMAIL] [varchar](50) NOT NULL,
	[PASSWORD] [varchar](50) NOT NULL,
	[ID_TIPOUSUARIO] [int] NOT NULL,
	[ID_TIENDA] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_USUARIO] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CATEGORIA_PRODUCTO] ON 

INSERT [dbo].[CATEGORIA_PRODUCTO] ([ID_CATEGORIA], [NOMBRE], [DESCRIPCION]) VALUES (1, N'Lacteos', N'Descripcion de Lacteos')
INSERT [dbo].[CATEGORIA_PRODUCTO] ([ID_CATEGORIA], [NOMBRE], [DESCRIPCION]) VALUES (2, N'Embutidos', N'Descripcion de Embutidos')
INSERT [dbo].[CATEGORIA_PRODUCTO] ([ID_CATEGORIA], [NOMBRE], [DESCRIPCION]) VALUES (3, N'Carnes', N'Descripcion de Carnes')
SET IDENTITY_INSERT [dbo].[CATEGORIA_PRODUCTO] OFF
GO
SET IDENTITY_INSERT [dbo].[DETALLE_CATEGORIA_PRODUCTO] ON 

INSERT [dbo].[DETALLE_CATEGORIA_PRODUCTO] ([ID_DETALLE_CATEGORIA], [NOMBRE], [DESCRIPCION], [ID_CATEGORIA]) VALUES (1, N'Lata', N'Envase enlatado', 1)
INSERT [dbo].[DETALLE_CATEGORIA_PRODUCTO] ([ID_DETALLE_CATEGORIA], [NOMBRE], [DESCRIPCION], [ID_CATEGORIA]) VALUES (2, N'Leches', N'Descripcion de Leches', 1)
INSERT [dbo].[DETALLE_CATEGORIA_PRODUCTO] ([ID_DETALLE_CATEGORIA], [NOMBRE], [DESCRIPCION], [ID_CATEGORIA]) VALUES (3, N'Mantequillas', N'Descripcion de Mantequillas', 1)
SET IDENTITY_INSERT [dbo].[DETALLE_CATEGORIA_PRODUCTO] OFF
GO
SET IDENTITY_INSERT [dbo].[DETALLE_PEDIDO] ON 

INSERT [dbo].[DETALLE_PEDIDO] ([ID_DETALLE_PEDIDO], [CANTIDAD], [SUBTOTAL], [ID_PEDIDO], [ID_PRODUCTO]) VALUES (1, N'2', CAST(10 AS Decimal(18, 0)), 1, 1)
INSERT [dbo].[DETALLE_PEDIDO] ([ID_DETALLE_PEDIDO], [CANTIDAD], [SUBTOTAL], [ID_PEDIDO], [ID_PRODUCTO]) VALUES (2, N'3', CAST(30 AS Decimal(18, 0)), 1, 4)
INSERT [dbo].[DETALLE_PEDIDO] ([ID_DETALLE_PEDIDO], [CANTIDAD], [SUBTOTAL], [ID_PEDIDO], [ID_PRODUCTO]) VALUES (3, N'2', CAST(10 AS Decimal(18, 0)), 1, 11)
SET IDENTITY_INSERT [dbo].[DETALLE_PEDIDO] OFF
GO
SET IDENTITY_INSERT [dbo].[PEDIDO] ON 

INSERT [dbo].[PEDIDO] ([ID_PEDIDO], [NUMERO_PEDIDO], [FECHA], [TOTAL], [ID_USUARIO], [ID_TIENDA], [ESTADO]) VALUES (1, N'P-1', CAST(N'2020-12-16T00:29:03.000' AS DateTime), CAST(50 AS Decimal(18, 0)), 1, 1, 0)
INSERT [dbo].[PEDIDO] ([ID_PEDIDO], [NUMERO_PEDIDO], [FECHA], [TOTAL], [ID_USUARIO], [ID_TIENDA], [ESTADO]) VALUES (2, N'P-2', CAST(N'2020-12-16T00:38:29.000' AS DateTime), CAST(150 AS Decimal(18, 0)), 3, 1, 1)
INSERT [dbo].[PEDIDO] ([ID_PEDIDO], [NUMERO_PEDIDO], [FECHA], [TOTAL], [ID_USUARIO], [ID_TIENDA], [ESTADO]) VALUES (3, N'P-3', CAST(N'2020-12-16T00:38:47.000' AS DateTime), CAST(130 AS Decimal(18, 0)), 2, 1, 1)
SET IDENTITY_INSERT [dbo].[PEDIDO] OFF
GO
SET IDENTITY_INSERT [dbo].[PRODUCTO] ON 

INSERT [dbo].[PRODUCTO] ([ID_PRODUCTO], [CODIGO], [DESCRIPCION], [MARCA], [STOCK], [PRECIO], [IMAGEN], [ID_CATEGORIA], [ID_TIENDA]) VALUES (1, N'PRO-1', N'Leche Gloria 250 ml', N'Gloria', 5, CAST(5 AS Decimal(18, 0)), N'https://plazavea.vteximg.com.br/arquivos/ids/345002-1000-1000/949.jpg?v=637287873354300000', 1, 1)
INSERT [dbo].[PRODUCTO] ([ID_PRODUCTO], [CODIGO], [DESCRIPCION], [MARCA], [STOCK], [PRECIO], [IMAGEN], [ID_CATEGORIA], [ID_TIENDA]) VALUES (4, N'PRO-2', N'Gaseosa Coca Cola 3L', N'Coca Cola', 12, CAST(10 AS Decimal(18, 0)), N'https://surtilicores.com/wp-content/uploads/2020/08/Coca-Cola-3-Litros.jpg', 4, 1)
INSERT [dbo].[PRODUCTO] ([ID_PRODUCTO], [CODIGO], [DESCRIPCION], [MARCA], [STOCK], [PRECIO], [IMAGEN], [ID_CATEGORIA], [ID_TIENDA]) VALUES (9, N'PRO-3', N'Arroz Serranita 3Kg', N'La Serranita', 5, CAST(10 AS Decimal(18, 0)), N'http://costenoalimentos.com.pe/media/512/nuXDVCGy2Ldjq5ZMGx0UKTrQ1wy35sfA5u7Uarsu.jpeg', 5, 2)
SET IDENTITY_INSERT [dbo].[PRODUCTO] OFF
GO
SET IDENTITY_INSERT [dbo].[sysdiagrams] ON 

SET IDENTITY_INSERT [dbo].[sysdiagrams] OFF
GO
SET IDENTITY_INSERT [dbo].[TIENDA] ON 

INSERT [dbo].[TIENDA] ([ID_TIENDA], [NOMBRE], [DESCRIPCION], [DIRECCION], [CIUDAD], [PAIS], [TELEFONO], [FECHA_CREACION], [BANNER]) VALUES (1, N'Genovesa 3.0', N'La Genovesa Tacna', N'Av Tacna 1851', N'Tacna', N'Peru', N'952868686', NULL, NULL)
INSERT [dbo].[TIENDA] ([ID_TIENDA], [NOMBRE], [DESCRIPCION], [DIRECCION], [CIUDAD], [PAIS], [TELEFONO], [FECHA_CREACION], [BANNER]) VALUES (2, N'Bumercito', N'Bumercito Abarrotes', N'Av Peru 33455', N'Tacna', N'Peru', N'952787879', NULL, NULL)
SET IDENTITY_INSERT [dbo].[TIENDA] OFF
GO
SET IDENTITY_INSERT [dbo].[TIPO_USUARIO] ON 

INSERT [dbo].[TIPO_USUARIO] ([IDTIPOUSUARIO], [DESCRIPCION]) VALUES (1, N'Administrador')
INSERT [dbo].[TIPO_USUARIO] ([IDTIPOUSUARIO], [DESCRIPCION]) VALUES (2, N'Cliente')
INSERT [dbo].[TIPO_USUARIO] ([IDTIPOUSUARIO], [DESCRIPCION]) VALUES (3, N'Vendedor')
SET IDENTITY_INSERT [dbo].[TIPO_USUARIO] OFF
GO
SET IDENTITY_INSERT [dbo].[USUARIO] ON 

INSERT [dbo].[USUARIO] ([ID_USUARIO], [NOMBRE], [APELLIDO], [FECHA_CREACION], [TELEFONO], [PAIS], [CIUDAD], [DIRECCION], [IMAGEN], [EMAIL], [PASSWORD], [ID_TIPOUSUARIO], [ID_TIENDA]) VALUES (1, N'Paolo', N'Lizarraga', NULL, N'978625515', N'Peru', N'Tacna', N'Calle Peru #840', NULL, N'paololm@hotmail.com', N'827ccb0eea8a706c4c34a16891f84e7b', 1, 2)
INSERT [dbo].[USUARIO] ([ID_USUARIO], [NOMBRE], [APELLIDO], [FECHA_CREACION], [TELEFONO], [PAIS], [CIUDAD], [DIRECCION], [IMAGEN], [EMAIL], [PASSWORD], [ID_TIPOUSUARIO], [ID_TIENDA]) VALUES (2, N'Daniel', N'Lajo', NULL, N'952658675', N'Peru', N'Tacna', N'Cono Sur', NULL, N'danlojama@upt.pe', N'827ccb0eea8a706c4c34a16891f84e7b', 1, 2)
INSERT [dbo].[USUARIO] ([ID_USUARIO], [NOMBRE], [APELLIDO], [FECHA_CREACION], [TELEFONO], [PAIS], [CIUDAD], [DIRECCION], [IMAGEN], [EMAIL], [PASSWORD], [ID_TIPOUSUARIO], [ID_TIENDA]) VALUES (3, N'Anthony B', N'Belizario', NULL, N'917903832', N'Peru', N'Tacna', N'Alto Lima', NULL, N'robbelizarioma@upt.pe', N'827ccb0eea8a706c4c34a16891f84e7b', 1, 2)
SET IDENTITY_INSERT [dbo].[USUARIO] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_principal_name]    Script Date: 30/12/2020 02:08:45 ******/
ALTER TABLE [dbo].[sysdiagrams] ADD  CONSTRAINT [UK_principal_name] UNIQUE NONCLUSTERED 
(
	[principal_id] ASC,
	[name] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF) ON [PRIMARY]
GO
/****** Object:  Index [TIENDA_pk]    Script Date: 30/12/2020 02:08:45 ******/
ALTER TABLE [dbo].[TIENDA] ADD  CONSTRAINT [TIENDA_pk] PRIMARY KEY NONCLUSTERED 
(
	[ID_TIENDA] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DETALLE_CATEGORIA_PRODUCTO]  WITH CHECK ADD  CONSTRAINT [ID_CATEGORIA] FOREIGN KEY([ID_CATEGORIA])
REFERENCES [dbo].[CATEGORIA_PRODUCTO] ([ID_CATEGORIA])
GO
ALTER TABLE [dbo].[DETALLE_CATEGORIA_PRODUCTO] CHECK CONSTRAINT [ID_CATEGORIA]
GO
ALTER TABLE [dbo].[DETALLE_PEDIDO]  WITH CHECK ADD  CONSTRAINT [FK_DETALLE_PEDIDO_IDPEDIDO] FOREIGN KEY([ID_PEDIDO])
REFERENCES [dbo].[PEDIDO] ([ID_PEDIDO])
GO
ALTER TABLE [dbo].[DETALLE_PEDIDO] CHECK CONSTRAINT [FK_DETALLE_PEDIDO_IDPEDIDO]
GO
ALTER TABLE [dbo].[DETALLE_PEDIDO]  WITH CHECK ADD  CONSTRAINT [FK_DETALLE_PEDIDO_IDPRODUCTO] FOREIGN KEY([ID_PRODUCTO])
REFERENCES [dbo].[PRODUCTO] ([ID_PRODUCTO])
GO
ALTER TABLE [dbo].[DETALLE_PEDIDO] CHECK CONSTRAINT [FK_DETALLE_PEDIDO_IDPRODUCTO]
GO
ALTER TABLE [dbo].[PEDIDO]  WITH CHECK ADD  CONSTRAINT [FK_PEDIDO_IDUSUARIO] FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[USUARIO] ([ID_USUARIO])
GO
ALTER TABLE [dbo].[PEDIDO] CHECK CONSTRAINT [FK_PEDIDO_IDUSUARIO]
GO
ALTER TABLE [dbo].[PEDIDO]  WITH CHECK ADD  CONSTRAINT [ID_TIENDA_PEDIDO] FOREIGN KEY([ID_TIENDA])
REFERENCES [dbo].[TIENDA] ([ID_TIENDA])
GO
ALTER TABLE [dbo].[PEDIDO] CHECK CONSTRAINT [ID_TIENDA_PEDIDO]
GO
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD  CONSTRAINT [FK__PRODUCTO__IDCATEGORIA] FOREIGN KEY([ID_CATEGORIA])
REFERENCES [dbo].[CATEGORIA_PRODUCTO] ([ID_CATEGORIA])
GO
ALTER TABLE [dbo].[PRODUCTO] CHECK CONSTRAINT [FK__PRODUCTO__IDCATEGORIA]
GO
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD  CONSTRAINT [ID_TIENDA] FOREIGN KEY([ID_TIENDA])
REFERENCES [dbo].[TIENDA] ([ID_TIENDA])
GO
ALTER TABLE [dbo].[PRODUCTO] CHECK CONSTRAINT [ID_TIENDA]
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD  CONSTRAINT [fk_USUARIO_IDTIPOUSUARIO] FOREIGN KEY([ID_TIPOUSUARIO])
REFERENCES [dbo].[TIPO_USUARIO] ([IDTIPOUSUARIO])
GO
ALTER TABLE [dbo].[USUARIO] CHECK CONSTRAINT [fk_USUARIO_IDTIPOUSUARIO]
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD  CONSTRAINT [ID_TIENDA_USUARIO] FOREIGN KEY([ID_TIENDA])
REFERENCES [dbo].[TIENDA] ([ID_TIENDA])
GO
ALTER TABLE [dbo].[USUARIO] CHECK CONSTRAINT [ID_TIENDA_USUARIO]
GO
EXEC sys.sp_addextendedproperty @name=N'microsoft_database_tools_support', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'sysdiagrams'
GO
